body {
    background-color: #2A2A2A;
    font-family: Helvetica, sans;
    position: relative;
}

#paste-image-text, #drop-target {
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 4px 6px black, 0 0 0 white, 1px 4px 6px black;
}

#canvas-container {
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}

.annotation-object-buttons-container {
    margin-bottom: 20px;
    text-align: center;
}

.annotation-object-button {
    border: 1px solid #A4A4A4;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 75px;
    margin: 5px;
    width: 75px;
}

.active {
    background-color: white;
    color: black;
}

.controls {
    display: none;
}

#render-container {
    background-color: white;
    display: none;
    position: absolute;

    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#drop-layer {
    position: fixed;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
}

#drop-overlay {
    width: 640px;
    height: 400px;
    background-color: #2A2A2A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop-target {
    padding: 50px;
    border-radius: 10px;
    border: 5px dashed white;
}
